@import './style/reset.css';
@import './style/tagsAndClasses.css';
@import './style/header.css';
@import './style/body.css';
@import './style/material-colortheme.css';

#main-grid {
    border: 0;
    height: 98vh;

    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 10px 1fr 16fr 10px;
    grid-template-areas:
            ". .           ."
            ". header-grid ."
            ". body-grid   ."
            ". .           .";
}
