#body-grid.advanced {
    border: 0;
    grid-area: body-grid;
    max-height: 90vh;

    display: grid;
    grid-row-gap: 3px;
    grid-column-gap: 3px;
    grid-template-columns: 0.5fr 1fr 1fr 4fr 1fr 1fr 1fr 1fr 7fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 2fr 1fr 0.5fr;
    grid-template-rows: 0.25fr 1fr 1fr 6fr 1fr 1fr 1fr 3fr 1fr 1fr 0.25fr;
    grid-template-areas:
            ".  .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  "
            ".  ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB .  "
            ".  .   .   .   A2M .   .   .   .   .   .   .   W2A .   A2W .   .   .   .   .   .  "
            ".  MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG .   IO  IO  IO  .  "
            ".  MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG .   .   .   .   .  "
            ".  MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG ALR ALU ALU ALU .  "
            ".  MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG .   ALU ALU ALU .  "
            ".  MEM MEM MEM MEM MEM M2C COU COU COU .   REG REG REG REG REG RAL ALU ALU ALU .  "
            ".  MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG .   ALU ALU ALU .  "
            ".  .   WRT .   REA .   .   .   C2D .   .   .   D2R .   R2D .   .   D2L .   AL2 .  "
            ".  EDB EDB EDB EDB EDB D2D DAB DAB DAB DAB DAB DAB DAB DAB DAB DAB DAB DAB DAB .  "
            ".  .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ";
}

#body-grid:not(.advanced) {
    border: 0;
    grid-area: body-grid;
    max-height: 90vh;

    display: grid;
    grid-row-gap: 3px;
    grid-column-gap: 3px;
    grid-template-columns: 0.5fr 1fr 1fr 4fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 2fr 1fr 0.5fr;
    grid-template-rows: 0.25fr 1fr 1fr 6fr 1fr 1fr 1fr 3fr 1fr 1fr 0.25fr;
    grid-template-areas:
            ".  .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  "
            ".  ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB .  "
            ".  .   .   .   A2M .   .   .   W2A .   A2W .   .   .   .   .   .  "
            ".  MEM MEM MEM MEM MEM .   REG REG REG REG REG .   IO  IO  IO  .  "
            ".  MEM MEM MEM MEM MEM .   REG REG REG REG REG .   .   .   .   .  "
            ".  MEM MEM MEM MEM MEM .   REG REG REG REG REG ALR ALU ALU ALU .  "
            ".  MEM MEM MEM MEM MEM .   REG REG REG REG REG .   ALU ALU ALU .  "
            ".  MEM MEM MEM MEM MEM .   REG REG REG REG REG RAL ALU ALU ALU .  "
            ".  MEM MEM MEM MEM MEM .   REG REG REG REG REG .   ALU ALU ALU .  "
            ".  .   WRT .   REA .   .   .   D2R .   R2D .   .   D2L .   AL2 .  "
            ".  EDB EDB EDB EDB EDB D2D DAB DAB DAB DAB DAB DAB DAB DAB DAB .  "
            ".  .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .  ";
}


@media (max-width: 1200px) {
    #body-grid.advanced {
        grid-area: body-grid;
        max-height: 90vh;

        display: grid;
        grid-row-gap: 3px;
        grid-column-gap: 3px;
        grid-template-columns: 1fr 1fr 4fr 1fr 1fr 1fr 1fr 7fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 6fr 1fr 1fr 1fr 3fr 1fr 1fr;
        grid-template-areas:
                "ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB"
                ".   .   .   A2M .   .   .   .   .   .   .   W2A .   A2W .   .   .   .   .  "
                "MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG .   IO  IO  IO "
                "MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG .   .   .   .  "
                "MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG ALR ALU ALU ALU"
                "MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG .   ALU ALU ALU"
                "MEM MEM MEM MEM MEM M2C COU COU COU .   REG REG REG REG REG RAL ALU ALU ALU"
                "MEM MEM MEM MEM MEM .   COU COU COU .   REG REG REG REG REG .   ALU ALU ALU"
                ".   WRT .   REA .   .   .   C2D .   .   .   D2R .   R2D .   .   D2L .   AL2"
                "EDB EDB EDB EDB EDB D2D DAB DAB DAB DAB DAB DAB DAB DAB DAB DAB DAB DAB DAB";


    }

    #body-grid:not(.advanced) {
        border: 0;
        grid-area: body-grid;
        max-height: 90vh;

        display: grid;
        grid-row-gap: 3px;
        grid-column-gap: 3px;
        grid-template-columns: 1fr 1fr 4fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 6fr 1fr 1fr 1fr 3fr 1fr 1fr;
        grid-template-areas:
                "ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB ADB"
                ".   .   .   A2M .   .   .   W2A .   A2W .   .   .   .   .  "
                "MEM MEM MEM MEM MEM .   REG REG REG REG REG .   IO  IO  IO "
                "MEM MEM MEM MEM MEM .   REG REG REG REG REG .   .   .   .  "
                "MEM MEM MEM MEM MEM .   REG REG REG REG REG ALR ALU ALU ALU"
                "MEM MEM MEM MEM MEM .   REG REG REG REG REG .   ALU ALU ALU"
                "MEM MEM MEM MEM MEM .   REG REG REG REG REG RAL ALU ALU ALU"
                "MEM MEM MEM MEM MEM .   REG REG REG REG REG .   ALU ALU ALU"
                ".   WRT .   REA .   .   .   D2R .   R2D .   .   D2L .   AL2"
                "EDB EDB EDB EDB EDB D2D DAB DAB DAB DAB DAB DAB DAB DAB DAB";
    }
}

#externalDataBus {
    grid-area: EDB;
}

#internalDataBus {
    grid-area: DAB;
}

#internalDataBus input {
    /*border: 1px solid #2d2d2d;*/
    border: none;
    padding-bottom: 1px;
    text-align: center;
    width: 100%;
}

#memory-grid {
    display: flex;
    flex-direction: column;
    padding: 5px;
    grid-area: MEM;
}

#controlUnit-grid {
    display: flex;
    flex-direction: column;
    padding: 5px;
    grid-area: COU;
}

#registers-grid {
    display: flex;
    flex-direction: column;
    padding: 5px;

    grid-area: REG;
}

#alu-grid {
    display: flex;
    flex-direction: column;
    padding: 5px;
    grid-area: ALU;
}

#addressBus-grid {
    grid-area: ADB;
}

#REA {
    grid-area: REA;
}

#WRT {
    grid-area: WRT;
}

#D2D {
    grid-area: D2D;
}

#M2C {
    grid-area: M2C;
}

#A2M {
    grid-area: A2M;
}

#C2D {
    grid-area: C2D;
}

#R2D {
    grid-area: R2D;
}

#D2R {
    grid-area: D2R;
}

#W2A {
    grid-area: W2A;
}

#A2W {
    grid-area: A2W;
}

#AL2 {
    grid-area: AL2;
}

#D2L {
    grid-area: D2L;
}

#RAL {
    grid-area: RAL;
}

#ALR {
    grid-area: ALR;
}

#registers-grid .insideBlock {
    padding-bottom: 0;
    overflow-y: auto;
}

#incr, #decr {
    font-weight: bold;
    margin: 2px;
    float: left;
    width: 9%;
}

#svr {
    float: right;
    margin: 2px;
}

#scrollArea-memory, #scrollArea-microcode {
    display: flex;
}

#memory-editor, #microcode-editor, #memory-debug, #microcode-debug {
    flex-grow: 1;
    margin-bottom: 2px;
}

/*
#compileMemory, #compileMicrocode {
    padding: 4px;
    position: relative;
    float: right;
    top: 40px;
    font-size: 60%;
    margin: 8px;
    z-index: 100;
}

#compileMicrocode {
    top: 80px;
}
*/

#EdataBus, #addressBus {
    font-size: 120%;
}

#alu-grid .insideBlock {
    display: flex;
    flex-direction: column;
}

#alu-grid .insideBlock div {
    /*flex-grow: 1;*/
}

#IO-grid .insideBlock {
    display: flex;
    flex-direction: column;
}

#aluSelect, .spacer {
    flex-grow: 1;
}


#F-viewer table {
    height: auto;
}

#IR {
    margin-bottom: 3px;
    font-size: 90%;
}

#selectEdemsType, #aluSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;


    background: url(../img/arrow.png) no-repeat 95% 50%;
    background-size: 15px 10px;

}

#IO-grid {
    display: flex;
    flex-direction: column;
    padding: 5px;
    grid-area: IO;
}