#header-grid {
    font-size: 80%;
    border: 0;
    grid-area: header-grid;

    display: grid;
    grid-row-gap: 15px;
    /*grid-column-gap: 15px;*/
    grid-template-columns: 0.25fr 3.5fr 1fr 4fr 1fr 3.5fr 0.25fr ;
    grid-template-areas: ". buttons-grid . clock-grid . logo .";
}

@media (max-width: 1200px) {
    #header-grid {
        border: 0;
        grid-area: header-grid;

        display: grid;
        grid-row-gap: 15px;
        grid-column-gap: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
                "buttons-grid logo"
                "clock-grid clock-grid";
    }
}

#header-grid * button {
    border: none;
}

#buttons-grid {
    display: flex;
    justify-content: space-around;
    grid-area: buttons-grid;
}

#buttons-grid button, #clock-grid button {
    margin: 5px;
    flex-grow: 10;
    flex-basis: 0;
}

#freq {
    max-width: 50%;
    height: 100%;
}

#clock-grid {
    display: flex;
    justify-content: center;
    grid-area: clock-grid;
}

#logo {
    grid-area: logo;
    font-weight: bold;
    font-size: 370%;
    text-align: right;
}

#logo select {
    font-size: 50%;
    width: 50%;
    margin: 0;
    padding: 0;
    border: none;
}
