* {
    font-size: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="file"] {
    display: none;
}
body {
    font-family: inherit;
}

table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    /* border: 1px solid black;*/
    vertical-align: middle;
    padding: 2px;
}


.block, button, .block input {
    font-family: Ubuntu Mono, Helvetica, Arial, sans-serif;
    font-size: 120%;
    /*border: 1px solid #2d2d2d;*/
    padding: 2px;
    text-align: center;
    border-radius: 3px;
}

button {
    border: 1px solid #333333;
}

button:disabled,
button[disabled] {
    border: 0;
}

input {
    margin: 0;
    padding: 0;
}

select {
    width: 100%;
}

.flowButton {
    font-weight: bold;
    font-size: 150%
}

.selectedPair {
    border: 1px solid #2d2d2d;
}

.selectedRegister {
    border: 1px solid #2d2d2d;
}

.registerButton {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40%;
    top: -56px;
    position: relative;
    font-size: 150%;
}

.registerButton div{
    font-size: 120%;
}

.pairBlock {
    font-size: 60%;
    margin-bottom: 8px;
    height: 62px;
}

.pairButton {
    height: 65px;
    flex-grow: 1;
    width: 100%;
    clear: both;
    float: none;
}

.nameBlock {
    height: 30px;
    line-height: 25px;
    vertical-align: middle;
    margin-bottom: 2px;
    font-size: 120%;
}

.nameBlock button {
    font-size: 60%;
    width: 14%;
}

.hidden {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.ace_editor {
    font-size: 13px !important;
}

.insideBlock {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.memoryBlock, .microcodeBlock, .microcode-table-descr, .memory-table-descr {
    border: 1px solid #2d2d2d;
    font-size: 100%;
    padding: 1px;
    min-width: 34.55px;
}



.descr-table {
    padding-right: 8px;
}

.frequency {
    max-width: 30%;
    font-size: 120%;
    margin: 5px;
    flex-grow: 1;
}

.tooltip {
    position: relative;

}

.tooltip .tooltiptext {
    visibility: hidden;


    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 1s;
}
.tooltiptext {
    white-space: nowrap;

    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;

    background-color: black;
    color: #fff;
    font-size: medium;
    font-weight: bold;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -30px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.upload-btn {
    padding-top: 3px;
}

.viewer-table {
    display: flex;
    flex-wrap: wrap;
}

.viewer-table>div{
    flex-grow: 1;
    display: flex;
}

.viewer-table>div>span{
    width: 25%;
    flex-grow: 1;
}

.F-viewer-NameBlock, .F-viewer-ValueBlock{
    /*border: 2px solid #2d2d2d;*/
    padding: 2px 3px 2px 3px;
}

.LED-viewer-NameBlock, .LED-viewer-ValueBlock{
    border: 2px;
    padding: 2px 3px 2px 3px;

}
.LED-viewer-ValueBlock{
    border-radius: 15px;
}

.btns button,
.btns label {
    flex-grow: 1;
    font-size: 80%;
    justify-content: space-between;
    margin: 0 5px 0 5px;
}
.btns{
    display:flex;
}